
  .row {
    display: flex;
  }

  input {
    border: none;
    border-radius: 0.4rem;
    width: 80%;
    padding: 10px 6px;
   font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
  input:focus {
    outline: none;
  }